/* Logo styling */

.navbar-logo {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

/* Navigation bar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  height: 100px;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar-pages {
  display: flex;
  align-items: center;
}

.navbar-pages a {
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
  height: 100%;
  text-decoration: none;
}

.navbar-pages-hover {
  color: rgb(127, 127, 127);
}

.navbar-pages-hover a:hover {
  color: black;
  text-decoration: none;
  border-bottom: solid;
  border-color: rgb(74, 80, 187);
}

.navbar-button {
  display: flex;
  color: white;
  font-size: 12px;
  line-height: 160%;
  background-color: rgb(74, 80, 187);
  border-radius: 5px;
}

/* stylelint-disable length-zero-no-unit */
body {
  background-color: white;
}

/* Main */
.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0px auto;
  -webkit-box-flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}

/* description */

.description {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.descri-content {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.descri-text {
  display: flex;
  flex-direction: column;
  max-width: 37%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.descri-title {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  max-width: none;
}

.descri-paragraph {
  color: rgb(45, 48, 55);
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

/* Digitalents program tracks */

.program-tracks_container {
  background-color: rgb(248, 249, 252);
}

.tracks-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

/* Title */

.tracks-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(74, 80, 187);
  text-align: center;
}

/* typescript */
.typescript {
  min-width: 20%;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 53px;
  border-radius: 20px;
}

.typescript-title {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.typescript-paragraph {
  color: rgb(45, 48, 55);
  text-align: left;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

/* asap_net */
.asp-net {
  min-width: 20%;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 53px;
  border-radius: 20px;
}

.asp-net_title {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.asp-net_paragraph {
  color: rgb(45, 48, 55);
  text-align: left;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

/* For who? */
.fRqHVI {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.who-can-apply {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.for-who_container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.for-who_container_img {
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: flex-end;
}

/* <!-- who can apply students image --> ? */

.for-who_img_container {
  display: flex;
  width: 50%;
  min-width: 50%;
  order: 2;
  margin-left: 20px;
}

.students-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0px;
}

/* who can apply description */
.who-can-apply_descr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 500px;
  order: 1;
}

/* who can apply description title */
.who-can-apply_descr_title {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 53px;
  padding: 40px 50px;
  background-color: white;
}

.who-can-apply_descr_title_txt {
  font-size: 30px;
  line-height: 140%;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

/* who can apply description text */
.who-can-apply_paragraph {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 19px;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  word-break: break-word;
  font-weight: 300;
}

/* who can apply button */
.who-can-apply_button {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

/** Footer styling **/

.footer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100vh;
  bottom: 15px;
  width: 100%;
  line-height: 5px;
  padding-top: 40px;
}

.footer-container h1 {
  color: blue;
  font-size: 22px;
}

.footer-social-icons {
  display: flex;
  flex-direction: row;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-social-icons a {
  text-decoration: none;
  font-size: 40px;
}
