body {
  background-color: white;
}

.header {
  display: flex;
  width: 100%;
  height: 85px;
  min-height: 85px;
  box-sizing: border-box;
  padding: 0 20px;
}

.header-top {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: 1280px;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: auto;
  padding: 0;
}

.logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 60%;
}

.logo-link-img {
  width: auto;
  height: 100%;
  object-fit: contain;
  border-radius: 0;
}
